antropy==0.1.6
feature_engine==1.6.2
matplotlib==3.6.0
neuralforecast==1.6.4
numpy==1.24.4
pandas==1.5.3
Pillow==10.1.0
Pillow==10.1.0
plotly==5.18.0
prophet==1.1.5
PyYAML==6.0.1
PyYAML==6.0.1
ray==2.8.0
scikit_learn==1.2.2
seaborn==0.13.0
shap==0.43.0
statsforecast==1.6.0
statsmodels==0.14.0
streamlit==1.28.2
streamlit_authenticator==0.2.3
torch==2.1.1
tsmoothie==1.0.5
xgboost==1.7.6
